# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build folder
Homework1/Assignment1/build/
Homework2/Homework2/build/
Homework3/Assignment3/build/
Homework4/Assignment4/build/
Homework5/Assignment5/build/
Homework6/Assignment6/build/
Homework7/Assignment7/build/
